
<h2>Log In</h2>

<form action="/login" method="POST">

	<p><label for="email">Email</label>
	<input type="text" name="email" id="email" value=""/></p>

	<p><label for="password">Password</label>
	<input type="password" name="password" id="password" value=""/></p>

	<p><input type="submit"/></p>
  
</form>

