<div class="row">
	<% ['Name', 'Dynos', 'Workers', 'NewRelic?', 'Git Url', 'Last Scraped'].each do |col| %>
        <div class="span2">
          <h2><%= col %></h2>
        </div>
	<% end %>
</div>

<% Application.by_dynos.each do |app| %>
	
    <div class="row">
		<% ['name', 'dynos', 'workers', 'newrelic_enabled', 'git_url', 'last_scraped_at'].each do |col| %>
	        <div class="span2">
	          <p><%= app.send(col) %></p>
	        </div>
		<% end %>
    </div>
	
<% end %>
